.clj-kondo
.clojure-mcp
.cpcache
.logs
.lsp
.portal
.nrepl-port

# Devenv
.devenv*
devenv.local.nix

# Gen Files
**/gen/**/*.sh
gen/*

# Codex: ignore all but config
.codex/*
!.codex/
!.codex/config.toml
